body {
    background-color: rgb(143, 172, 203);
    background: url(assets/background-sheep.webp) no-repeat fixed center center;
}

main {
    margin: 0 auto;
    max-width: 60%;
}

section {
    margin: 2em 0;
    padding: 0.5em 2em;
    background-color: rgba(211, 211, 211, 50%);
    backdrop-filter: blur(5px);
    border-radius: 10px;
}

hr {
    color: gray;
}

/* .project {
    padding: 0 2em;
} */

section>h2 {
    text-align: center;
}

section p {
    margin: 0 2em 1em;
}

@media screen and (max-width: 90rem) {
    main {
        max-width: 80%;
    }
}

@media screen and (max-width: 45rem) {
    section {
        padding: 0.5em 1em;
    }

    section p {
        margin: 0 1em 1em;
    }
}
